<div class="widget widget_categories group">
    <h3>Categories.</h3>
    <ul>
        @foreach (var item in Model)
        {
            <li><a href="/category/@item.Category.ID" title="">@item.Category.Title</a> (@item.PostsCount)</li>
        }
    </ul>
</div>

